fastapi
uvicorn
pymongo
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
pydantic[email]
python-multipart

# Resume Parsing
pdfplumber
python-docx
PyMuPDF

# AI & Machine Learning
google-genai
sentence-transformers
torch
numpy
scikit-learn

# Email Validation
email-validator